{erl_opts, [{parse_transform, lager_transform},
            debug_info,
            verbose,
            return
            ]}.

{deps, [
        %% {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.2.2"}}},
        %% {cowboy, "2.0.0"},
        {cowboy, "2.2.2"},
        {lager, "3.2.4"}
       ]}.

{plugins, [rebar3_hex]}.

{relx, [    {release, { amqcwb, "0.1.0" },
                      [cowboy, lager, sasl, amqcwb]
            },

            {dev_mode, false},
            {vm_args, "config/vm.args"},
            {system_libs, false},
            {extended_start_script, true},
            {include_src, false},
            {include_erts, false},
            {sys_config, "config/sys.config"}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_src, false},
                            {include_erts, false},
                            {system_libs, false}
                           ]
                    }]
            },
            {test, [
                    {deps, [{meck, "0.8.9"}]}
                   ]}
            ]
}.

{eunit_tests, [
               verbose,
               {application, amqcwb}
              ]}.
